div(class="form-container") 
    form(action="auth",method="POST")
        div(class="form")
            div(class="form-line")
                label(class="form-label") Username
                input(type="text", name="username",class="form-input",placeholder="Enter your Username")    
            div(class="form-line")
                label(class="form-label") Password
                input(type="password", name="password",class="form-input",placeholder="Enter your Password")
            div(class="form-btn")
                input(type="submit", value="Log In",class="form-btn")