div(class="menu")
    a(class="menubtn" ,href="#", rel="noopener noreferrer") Home
    div(class="dropdown")
        button(class="dropbtn") Portfolio
            div(class="dropdown-content")
                a(href="#", rel="noopener noreferrer") Frontend
                a(href="#", rel="noopener noreferrer") Backend
                a(href="#", rel="noopener noreferrer") Other

    a(class="menubtn" ,href="#", rel="noopener noreferrer") About
