doctype html
html
  head
    style 
      include ../public/stylesheets/style.css
    script(type="module" crossorigin src="/assets/index-Dp6_NcrQ.js") 

  body(class="body")
    include ./sections/menu.pug
    div(id="root")  
 


        

    footer Copyright Kontopodis Emmanouil