doctype html
html
  head
    style 
      include ../public/stylesheets/style.css
      include ../public/stylesheets/forms.css

  body(class="body")
    div
        include ./sections/menu.pug
    div
        include ./sections/login-form.pug
   
    footer Copyright Kontopodis Emmanouil